@charset "utf-8";

:root{
    --clarencio: #fff;
    --sumo: #000;
    --tdb:#7d1ad4;
    --bdb:#6e17b9;
}

*{
    margin: 0;
    padding: 0;

}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clarencio);
}
